<head>
  <meta charset="UTF-8"/>
  <title>calendrier</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css"></script>
  <script>
    //TODO : generer une table et remplir les cases de la bonne maniere en fonction des returns des requetes sql
    //en haut une premiere ligne avec MOIS/Année
    //premiere case de chaque ligne = horaire
    //premiere case de chaque colonne = jours

    $(document).ready(function () {
    GenerateHTMLString()

});

function GenerateHTMLString() {
    var date = new Date();
    var start = new Date();
    var end = new Date();
    start.setDate(date.getDate());
    end.setDate(date.getDate() + 15);

    var htmls = '';
    htmls += '<table border=1><tr><th> Date </th>';
    for (var d = start ; d <= end; d.setDate(d.getDate() + 1)) {

        var WGHeader = '<th>' + formatDateddMM(new Date(d)) + '</th>';
        htmls += WGHeader;

    }
    htmls += '</tr>'
    var onerow = '';
    for (var i = 1; i <= 5; i++) {

        var name = "H" + i.toString();
        onerow += '<tr><td>' + name + '</td>';


        for (var ji = 0; ji <= 15; ji++) {

            onerow += '<td class="selec_row"> </td>';


        }
        onerow += '</tr>'
    }
    htmls += onerow;
    $('#Calendar').append(htmls);

}

function formatDateddMM(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [day, month].join('/');
}
		     </script>
  <style type="text/css" >
    h1{
    text-align: center;
    text-color: red;
    }
    div{
    margin: auto;
    width: 50%;
    }
  </style>
</head>
<body>
  <h1>Calendrier :</h1>
  <div id="Calendar"></div>
  
</body>
