#login_form {
    width: 340px;
    margin: 50px auto;
}
#login_form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
#login_form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

h2,input{
    color:#e8474f;
}

#profile #participation {
    background-color: #B03A2E;
}
