body{
	/*background-color:#4D664A;*/
	background-image: url("../ressources/background.jpeg");
	/* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat:repeat-y;
    background-size: cover;
}

.bg-light{
	background-color:#FE9C03!important;
}

h1{
	margin: 20px;
	color: #f4f6f7;
	text-align: center;
	background-color: #b03a2e;
}

.card{
	background-color: #F7F7F0;
}

/*.container{
	background-color: #4D664A;
	padding: 20px;
}*/

#logo {
	width: 100px;
}
#calendar{
    background-color:azure ;
    height: 500px;
}