		
<script>
    $("#bEntre").click(function(event){
        console.log("Cliqué sur l'entreprise");
              $("#content").load("inscription.html");
    });
    $("#bParte").click(function(event){
        console.log("Cliqué sur bParte");
              $("#content").load("inscription.html");        
    });
    $("#bPartn").click(function(event){
        console.log("Cliqué sur bPartn");
              $("#content").load("inscription.html");        
    });
    $("#bSante").click(function(event){
        console.log("Cliqué sur bSante");
              $("#content").load("inscription.html");        
    });
    
</script>

<div id="accueil" class="container" style="text-align:justify;">
			<h1 class="display-3">Nos différentes rubriques</h1>		
			<div class="row d-flex justify-content-around">

			<div class="card" style="width:40%; height: 20%; margin-bottom:10px;">
				<img class="card-img-top" src="ressources/entreprise.jpeg" alt="Card image" style="width:100%">
				<div class="card-body">
					<h4 class="card-title" style="color:#b0342e" >Entreprise</h4>
					<p class="card-text"style="color:#17202a">Vous êtes chef d’entreprise ou collaborateur de celle-ci et souhaitez mettre en place des séances d’activité physique sur votre lieu de travail ? Ça n’a jamais été aussi simple grâce à MOHA qui vous propose des sessions collectives d’une heure directement dans vos locaux !</p><br/>
					<a href="#" id="bEntre" class="btn btn-primary" style=" position: absolute ;bottom:5px; right:5px ; background-color:#b0342e">Voir entreprise</a>
				</div>
			</div>
			<div class="card" style="width:40%; height: 20%; margin-bottom:10px;">
				<img class="card-img-bottom" src="ressources/entreprise.jpeg" alt="Card image" style="width:100%">
				<div class="card-body" >
					<h4 class="card-title" style="color:#b0342e" >Particulier</h4>
					<p class="card-text"style="color:#17202a">Vous souhaitez pratiquer de l’activité physique dans une ambiance conviviale de groupe en ayant des conseils personnalisés et individualisés ? MOHA met en place des séances d’activité physique adaptée à vos besoins à proximité de chez vous ! </p><br/>
					<a href="#" id="bParte" class="btn btn-primary" style=" position: absolute ;bottom:5px; right:5px ;background-color:#b0342e">Voir particulier</a>
				</div>
	  		</div>
			<div class="card" style="width:40%; height: 20%; margin-bottom:10px;">
				<img class="card-img-bottom" src="ressources/entreprise.jpeg" alt="Card image" style="width:100%">
				<div class="card-body">
					<h4 class="card-title" style="color:#b0342e" >Partenaire</h4>
					<p class="card-text" style="color:#17202a">Vous êtes professeur d’activité physique adaptée à la santé et souhaitez proposer des séances ? Vous êtes une association sportive qui a des locaux dédiés à la pratique sportive à mettre à disposition ?
Dynamisez votre quotidien en devenant membre et partenaire privilégié de la communauté MOHA ! </p><br/>
					<a href="#" id="bPartn" class="btn btn-primary" style=" position: absolute ;bottom:5px; right:5px;background-color:#b0342e">Voir partenaire</a>
				</div>
	  		</div>
			<div class="card" style="width:40%; height: 20%; margin-bottom:10px;">
				<img class="card-img-bottom" src="ressources/entreprise.jpeg" alt="Card image" style="width:100%">
				<div class="card-body">
					<h4 class="card-title" style="color:#b0342e" >Santé</h4>
					<p class="card-text" style="color:#17202a">Vous êtes un établissement de santé et souhaitez proposer la pérennisation d’une activité physique dès la fin de prise en charge de vos patients ?
Grâce à MOHA, vos patients vont maintenir les acquis et bénéfices obtenus lors de leur prise en charge grâce à l’activité physique qui leur est proposée de façon régulière.</p><br/>
					<a href="#" id="bSante" class="btn btn-primary" style=" position: absolute ;bottom:5px; right:5px;background-color:#b0342e">Voir Santé</a>
				</div>
	  		</div>

			</div>
		</div>

		