<script>
        $(document).ready(function() {

var date = new Date();
var d = date.getDate();
var m = date.getMonth();
var y = date.getFullYear();

function getListEvents(url,callback){
$.ajax({
    type: "GET",
    url: url,
    dataType: 'json',
    success: callback,
    error: function(jqXHR,textStatus,errorThrown){
    alert('error: ' + textStatus);
}
});}
var i = 0;
$('#calendar').fullCalendar({
header: {
left: 'prev,next today',
center: 'title',
right: 'month,agendaWeek,agendaDay'
},
editable: true,
eventSources: [
    {
        events: function(start,end,timezone,callback){
            
                //TODO REMOVE ../ BEFORE PASSING PROD
        getListEvents("api/v1/event", function(data){
            console.log(data);
            data.forEach(function(element){
                element.title = element.name;
                element.start = element.beginningDate;
                element.end = element.endDate;
                element.id = element.id;
            });
            callback(data);

        }); 
        },
        color: 'blue',
        textColor: 'black',
        backgroundColor: 'blue'
    }
],
    eventClick: function(event){
        if(event.url){
            window.open(event.url);
            return false;
        }else if(event.title){
            //TODO get to participation page
            window.open("/api/v1/event/"+event.id);
            
        }
    }
});

});
</script>
    <div id="calendar"></div>