<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/EventCreation.js"></script>
<link rel="stylesheet" href="css/inscri.css">
<div id="creation">
    <div id="inscri_form">
        <form>
            <div class="form-group">
                Nom d'évènement: <input type="text" name="name" id="name" placeholder="Nom d'évènement" class="form-control"/><br>
                Sport: <input type="text" name="sport" id="sport" placeholder="Sport" class="form-control"/><br>
                Date de début: <input type="date" id="beginningDate" placeholder="Date de début" class="form-control"/><br>
                Numero de l'organisateur: <input type="number" id="eventOwner" placeholder="Numero de l'organisateur" class="form-control"/><br>
                <button type="button" id="createEvent" class="btn btn-primary"> Creer l'évènement</button>                
            </div>
        </form>
    </div>
</div>