<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" href="css/inscri.css">
<script src="js/all.js"></script>
<script src="js/inscription.js"></script>

<div id="inscri_form">
    <form>
        <h2 class="text-center" >Inscription</h2>           
        <div class="form-group">
            <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Nom" required="required">
        </div>

        <div class="form-group">
            <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Prénom" required="required">
        </div>

        <div class="form-group">
            <input type="text" name="email" id="email" class="form-control" placeholder="E-mail" required="required">
        </div>

        <div class="form-group">
            <input type="Date" class="form-control" name="birthdate" placeholder="Date de naissance" required="required">
        </div>
        <div class="form-group">
        
            <div class="cols-sm-10">
            <label  class="cols-sm-2 control-label">Catégorie socio-professionnelle</label>
                <select name="Catégorie sociaux-professionnel">
                     <option value="étudiant">Étudiant</option>
                     <option value="Agriculteurs exploitants">Agriculteurs exploitants</option>
                     <option value="Salariés de l’agriculture">Salariés de l’agriculture</option>
                     <option value="...">...</option>
                </select>
                <!--<input type="text" name="autre" id="autre" placeholder="Autre">-->
            </div>
        </div>
        <div class="form-group">
        
            <input type="text" name="medical_ant" id="medical_ant" placeholder="Antecedants medicaux" class="form-control"/>
        </div>

        <div class="form-group">
            <div class="cols-sm-10">
                <label for="confirm" class="cols-sm-2 control-label">MOHA intervient-elle déjà dans votre entreprise ?</label>
                <input type="radio" name="mohaintervient" value="Oui"> Oui <br>
                <input type="radio" name="mohaintervient" value="Non"> Non <br>
            </div>
        </div>
        <div class="form-group">
            <select name="Entreprise">
                <option value="google">google</option>
                <option value="ibm">ibm</option>
                <option value="..">..</option>
                <option value="...">...</option>
            </select>
        </div>
        <div class="form-group">
                            
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="user" id="passwd"  placeholder="Entrez votre mot de passe "/>
                                </div>
                            </div>
                        </div>
<!--
                        <div class="form-group">
                            
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirmez votre mot de passe"/>
                                </div>
                            </div>
                        </div>
-->
                        <div class="form-group ">
                            <button type="button" id="inscriptionButton" class="btn btn-primary">S'inscrire</button>
                        </div>

        <!--<div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Se souvenir de moi</label><br />
            
        </div>-->
    </form>
 </div>

<div id="inutile">
</div>