<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" href="css/login.css">
<script src="js/profile.js"></script>

<div id="login_form">
	<form>
        <h2 class="text-center">Connexion</h2>       
        <div class="form-group">
            <input type="text" id="login" name="login" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" id="loginPassword" name="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="button" id="connectButton" class="btn btn-primary btn-block">Connexion</button>
        </div>
       <!-- <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Se souvenir de moi</label><br />
            <a href="#" class="pull-right">Mot de passe oublié ?</a>
        </div> -->
    </form>


</div>

<div id="profile">

</div>



